body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1DA1F2;
    line-height: 1.6;
}
header {
    background-image: url("photos/17067.jpg");
    background-size: cover;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.company-icon {
    margin-right: 10px;
}

.company-icon img {
    width: 40px;
    height: auto;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.profile {
    margin-right: 20px;
    position: relative;
}

.profile img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}
.account-title {
    font-size: 32px;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile:hover .dropdown-content {
    display: block;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
}
p {
    font-size: 16px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #1DA1F2; 
    color: white;
}
.button {
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
}
.no-bullet {
    list-style-type: none;
    padding: 0;
}
.remove-button {
    background-color: #1DA1F2; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.remove-button:hover {
    background-color: #0a7abf; 
}
