body {
    font-family: Arial, sans-serif;
    background-color: #1DA1F2;
    margin: 0;
    padding: 0;
    color: #333;
    transition: background-color 0.5s ease-in-out;
}

header {
    background-image: url("photos/17067.jpg");
    background-size: cover;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.company-icon {
    margin-right: 10px;
}

.company-icon img {
    width: 40px;
    height: auto;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.profile {
    margin-right: 20px;
    position: relative;
}

.profile img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile:hover .dropdown-content {
    display: block;
}

nav {
    background-color: #e0f7fa;
    color: black;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bb5;
}

.container {
    padding: 20px;
}

.dashboard {
    display: grid;
    background-color: #1DA1F2;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.data-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s ease-in-out;
}

.data-section h3 {
    margin-top: 0;
}

.data-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.data-section li {
    margin: 10px 0;
}

.data-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #e6ffed;
}
