body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    line-height: 1.6;
}

header {
    background-image: url("photos/17067.jpg");
    background-size: cover;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.company-icon {
    margin-right: 10px;
}

.company-icon img {
    width: 40px;
    height: auto;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
}

.profile {
    margin-right: 20px;
    position: relative;
}

.profile img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile:hover .dropdown-content {
    display: block;
}

nav {
    background-color: #e0f7fa;
    color: black;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bb5;
}

section {
    padding: 20px;
    background-color: lightblue;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

.glossary {
    max-width: 500px;
    margin: auto;
}

.term {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    color: #4CAF50;
}

.definition {
    margin-bottom: 10px;
    display: none;
    color: #EF5350;
}
